.cust-text-center {
    
    text-align: center;
    
}

.cust-padding-remove-icon {
    
    padding: 10px;
    font-size: 14px;
}

.cust-no-display {
    
    display: none;
    
}

.date-picker {
    border: 1px solid #D0D0D0 !important;
    background: white !important;
    width: 20% !important;
    padding: 1% 2% !important;
}

.time-picker {
    border: 1px solid #D0D0D0 !important;
    background: white !important;
    width: 20% !important;
    padding: 1% 2% !important;
}

.plugin-contact-no {
    
    text-indent: 46px;
    
}